*{
    margin: 0;
    padding: 0;
    
}

#web{
    background-image: url(../html/assets/νμΈνΈ.img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:1024px ;
    width: 1024px;
    /* margin-left: 500px; */
    border: 1px solid black;
}

h1{
    font-size: 140px;
    color: rgb(255, 0, 0);
    text-shadow: 5px 5px 3px black;
    margin-left: 20px;
    margin-top: 20px;
}

#loginlink{
    color: black;
    font-weight: bold;
    float: right;
    margin-right: 2px;
}

.Menu1{
    text-align: center;
    background-color:  rgb(0, 0, 0);
}

.Menu1 li{
    color: rgb(253, 253, 253);
    font-weight: bold;
    display: inline-block; 
    padding: 5px 10px;
    font-size: 20px;
    width: 120px;
    letter-spacing: 0.2em;
}

nav {
     width: 200px;
     height: 500px;     
     float: left;
}

.Menu2 {    
    width: 200px;    
    height: 400px;
    background-color: rgb(0, 0, 0);
}

.Menu2 li{
    color: rgb(253, 253, 253);
    font-weight: bold;
    line-height: 2em;
    letter-spacing: 0.2em;
    font-size: 20px;
    list-style-type: none;
    text-align:  center;
}

article{
    width: 824px;
    height: 400px;
    float: left;
}

#pcontent{
    margin-left: 10px;
    margin-top: 10px;
}


.banner{
    float: right;
    margin-top: 150px;
}
    
footer{
    clear: left;
}

#copyriht{
    font-size: 10px;
    text-align: right;
}
